 body {
     margin: 0;
     padding: 0;
     background-color: #f4f4f4;
 }

 a {
     text-decoration: none;
     color: black;
     text-align: left;
     font-size: 30px;
     line-height: 40px;
 }

 .tnav {
     position: fixed;
     background-color: #fff;
     width: 100%;
     top: 0;
     left: 0;
     height: 40px;
     display: flex;
     align-items: center;
 }

 .tnav a img {
     height: 20px;
     line-height: 20px;
 }

 .tnav p {
     text-align: center;
     display: inline;
     margin: 0 auto;
 }

 main {
     background-color: #fff;
 }

 .img {
     display: flex;
     justify-content: center;
     align-items: center;
     justify-items: center;
     margin: 0 auto;
     height: 180px;
     padding-top: 12.5rem;

 }

 .img img {
     width: 30%;
 }

 input {
     border: 1px solid black;
     font-weight: bold;
     text-align: center;
     margin: 0 auto;
     width: 96%;
     border-radius: 15px;
     height: 30px;
     caret-color: blue;
     margin-bottom: 15px;
 }

 .input_tel,
 .button_contain {
     margin-top: 128px;
     text-align: center;
 }

 button {
     border: none;
     background-color: blue;
     color: #fff;
     font-weight: bold;
     text-align: center;
     margin: 0 auto;
     width: 96%;
     border-radius: 15px;
     height: 30px;
 }

 .identity_record {
     text-align: center;
 }

 .identity_record a {
     font-size: 14px;
 }

 .identity_record img {
     height: 12px;
     line-height: 18px;
 }

 footer {
     color: gray;
     margin-top: 6%;
     font-size: 12px;
 }