body {
    background-color: #f4f4f4;
}

.icon {
    width: 1em;
    height: 1em;
    vertical-align: -0.15em;
    fill: currentColor;
    overflow: hidden;
}
#ad {
    background-image: url("../img/index/banner2.png");
    background-position: center;
    width: 100%;
    height: 300px;
    
}
a {
    text-decoration: none;
}

a:link {
    color: black;
}

a:visited {
    color: black;
}

ul {
    list-style: none;
    display: flex;
}

body,
ul,
p {
    padding: 0;
    margin: 0;
}

body {
    margin-bottom: 3.75rem;
    /* 固定导航一起的 */
}

.tnav {
    border: 5px;
    z-index: 9;
    /* 当你滑动时，导航条覆盖内容不跟随移动 */
    position: fixed;
    top: 0;
    background-color: #fff;
    width: 100%;
}

.tnav li:first-child {
    margin-left: 10px;
}

.tnav span {
    font-size: 16px;
    font-weight: bold;
    line-height: 46px;
    margin-left: 5px;
}

.tnav li {
    display: flex;
    align-items: center;
}

.tnav li img {
    height: 30px;
    display: inline-block;
}

.tnav li:last-child {
    position: absolute;
    right: 0;
    font-size: 42px;
    margin-right: 5px;
    font-weight: bold;
}

.main {
    position: relative;
    top: 50px;
    bottom: auto;
}

.img {
    padding: 10px;
    border-radius: 15px;
    margin-top: 50px;
}

.swiper {
    width: 100%;
    height: 100%;
    border-radius: 15px;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 15%;
    object-fit: cover;
}

.swiper-pagination-bullet-active {
    width: 32px;
    border-radius: 0;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;

}

.dynamic_content {
    width: 100%;
    background-color: #fff;
    height: 100%;
    border-radius: 15px 15px;
    margin: 0 auto;
}

.button_content {
    padding: 10px;
}

.button {
    width: 100%;
    background-color: #fff;
    height: 120px;
    border-radius: 15px 15px;
    margin: 0 auto;
}

.button ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* 垂直居中 */
    height: 100%;
    /* 让 ul 撑满父容器的高度 */
}

.button li {
    text-align: center;
}

.button p {
    margin-top: 5px;
    /* 调整文字与图标的间距 */
}

#app_scan {
    margin: 0 auto;
    padding: 10px;
}

#icon-hit {
    position: absolute;
    top: 0;
    right: 0;
}

.app_scan_app {
    position: relative;
    width: 100%;
    background-color: #fff;
    height: 100px;
    border-radius: 15px 15px;
    margin: 0 auto;
    display: inline-block;
    flex-direction: row;
}

.text {
    font-size: 14px;
    padding: 10px;
    width: 128px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
}

.app_scan .text p {
    margin: 0;
}

.text p:first-child {
    color: black;
    font-weight: bold;
}

.app_scan .text p:last-child {
    color: #929292;
}

.dynamic {
    padding: 10px;
}

.dynamic_div {
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid #ececec;
}

/* 拉取deceptionExposure 中的card样式 */
.content_card {
    width: 100%;
    border-bottom: 1px solid #929292;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.content_card .text {
    display: flex;
    flex-direction: column;
    width: 90%;
    justify-content: center;
    font-weight: bold;
}

.content_card .text p:last-child {
    font-weight: 0;
    bottom: 0;
    display: inline-block;
    font-size: 14px;
    font-size: 13px;
    padding-top: 5px;
    color: #797979;
}

.content_card img {
    position: relative;
    width: 125px;
    height: 75px;
    display: block;
    margin: 0 auto;
    border-radius: 15px;
    padding: 10px;
}

.bnav {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #fff;
    z-index: 9;
    /* 当你滑动时，导航条覆盖内容不跟随移动 */
}

.bnav li {
    width: 33.333%;
    text-align: center;
    padding: 0.625rem 0;
}

.banv p {
    color: #333;
    line-height: 26px;
    font-size: 14px;
    letter-spacing: 3px;
}

.icon {
    font-size: 36px;
    margin: 5px 0;
}